# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# PyCharm project settings
.idea/

# Mac 系统文件
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Log files
*.log

# VSCode settings (如果有用到)
.vscode/

# embedding
*.index
*.pkl